.stage {
  width: 100%;
  max-width: 800px; /* Adjust the max width as needed */
  height: 400px; /* Adjust the height as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: #1e1e1e; /* Dark-ish background color */; 
}

.video, .image {
  max-width: 100%;
  max-height: 100%;
}
